body {
  min-width: 350px;
  background-color: white;
}

/* Nav Section */
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.hamburger-menu,
.close-menu {
  background: none;
  border: none;
  cursor: pointer;
  max-height: 40px;
  max-width: 40px;
}

.side-menu {
  text-align: center;
  display: none;
  width: 100%;
  background-color: #fff;
  padding: 0;
}

.side-menu.open {
  display: flex;
  flex-direction: column;
}

.side-menu li {
  width: 100%;
  padding: 5px;
  text-align: center;
  list-style: none;
}

.side-menu li a {
  text-decoration: none;
  color: #000;
}

 .material-symbols-outlined {
   font-variation-settings:
           'FILL' 0,
           'wght' 400,
           'GRAD' 0,
           'opsz' 48;
 }

/* Banner Section */
.banner {
  background-color: #475c55;
  color: white;
  text-align: center;
  padding: 30px 0 0;
}

.banner h1, p {
  margin: 20px;
}

.banner button {
  background-color: #eac518;
  border-radius: 30px;
  border: none;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 15px 20px;
  color: #333333;
}

.banner button a {
    text-decoration: none;
    color: #333333;
}

.banner article {
  background-color: white;
  padding: 30px 0;
}

.banner-image {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  display: block;
  margin: auto;
}

/* Menu Section */
h2 {
    text-align: center;
    color: #333333;
    margin: 20px 0;
}

.menu-card {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  background-color: #475c55;
}

.menu-card img {
  width: 95%;
  height: 70%;
  display: block;
  margin: 15px auto;
  border-radius: 20px;
}

.menu-card button {
    background-color: #eac518;
    border-radius: 30px;
    border: none;
    margin: 20px 30%;
    padding: 10px 20px;
    color: #333333;
}

.menu-card h3, .menu-card p {
  color: white;
  margin:5px 15px;
}

/* Testimonials Section */
.testimonial-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
}

.testimonial-card {
  border-radius: 10px;
  background-color: #edefee;
  width: 90%;
  padding: 10px 0;
  margin: 10px auto;
}

/* About us and Contact us Section */
.about-us, .contact-us {
  background-color: #eac518;
  color: #333333;
  padding: 20px;
  position: relative;
  min-height: 340px;
  margin-top: 15px;
}

.about-us h2, .contact-us h2 {
  margin: 0 20px;
  text-align: left;
}

.about-us img, .contact-us img {
  width: 300px;
  height: 300px;
  display: block;
  margin: 20px auto;
}
.where-to-find-us iframe {
  width: 300px;
  height: 300px;
  display: block;
  margin: 20px auto;
}

/* Footer */
footer{
  display: block;
  bottom: 10px;
  padding: 20px;
  text-align: center;
  background-color: #475c55;
  color: white;
}

/* Reservations page*/
.reservations-page {
  padding: 20px;
  background-color: #eac518;
  margin: 20px auto;
  max-width: 600px;
  text-align: center;
  border-radius: 20px;
}

.reservations-page form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.reservations-page label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
}

.reservations-page input, .reservations-page select {
  display: block;
  width: 100%;
  padding: 8px;
  margin: 5px 0 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.reservations-page button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #475c55;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.reservations-page button:hover {
  background-color: #3a4b45;
}

/* Confirmation Page */
.confirmation-page, .order-confirmation-page {
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  background-color: #eac518;
  border-radius: 20px;
}

.order-confirmation-page img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
}

.confirmation-page ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.confirmation-page li {
  margin: 10px 0;
}

/* Order page */
.order-page {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #eac518;
}

.order-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.order-page img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 8px;
}

.order-page h3 {
  font-size: 24px;
  margin: 10px 0;
  color: #333;
}

.order-page label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
  width: 100%;
}

.order-page input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.order-page button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background-color: #475c55;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.order-page button:hover {
  background-color: #3a4b45;
}

/* Styles for larger screens (more than 600px) */
@media only screen and (min-width: 600px) {
  .hamburger-menu {
    display: none;
  }

  menu {
    display: flex;
    flex-direction: row;
  }

  .side-menu {
    display: flex;
    flex-direction: row;
    position: static;
    height: auto;
    width: 70%;
    box-shadow: none;
    padding: 0;
  }

  .side-menu li {
    margin: 0 5px;
  }

  /* Menu Section */
  section.menu {
    text-align: center;
    padding: 0;
  }

  .menu h2 {
    width: 100%;
    margin-bottom: 30px;
  }

  .menu-card {
    display: inline-block;
    width: calc(33.33% - 10px);
    vertical-align: top;
    text-align: left;
  }

  .menu-card img {
    height: 200px;
    width: 95%;
  }

  .menu-card button {
    width: 50%;
    margin: 20px 15px;
  }

  /* Testimonials Section */
  .testimonial-card {
    width: calc(50% - 20px);
    margin: 0;
  }

  /* About us section */
  .about-us, .contact-us{
    padding: 80px 0 20px;
  }
  .about-us h2 {
    margin: 0 20px;
  }

  .about-us p {
    max-width: calc(100% - 380px);
  }

  .about-us img {
    position: absolute;
    top: 20px;
    right: 20px;
    margin: 0;
  }

  /* Banner Section  */
  .banner {
    position: relative;
    min-height: 300px;
    padding-bottom: 20px;
  }

  .banner p, .banner h1{
    max-width: calc(100% - 380px);
    text-align: left;
    display: block;
  }

  .banner button{
    margin: 40px 20px;
    display: block;
  }

  .banner > article {
    background-color: #475c55;
    position: absolute;
    max-height: 200px;
    top: 0;
    right: 20px;
    margin: 0;
  }

}

@media only screen and (min-width: 800px) {
  /* Contact Us */
  .contact-us p {
    max-width: calc(100% - 500px);
    text-align: justify;

  }
  .contact-us img {
    position: absolute;
    top: 100px;
    right: 50px;
    width: 400px;
    height: 350px;
  }

  .where-to-find-us {
    margin-top: calc(20%);
  }

  .where-to-find-us h2 {
    text-align: right;
    margin-right: 50px;
  }
  .where-to-find-us p {
    text-align: justify;
    margin-left: calc(0% + 450px);
    margin-right: 50px;
  }

  .where-to-find-us iframe {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 400px;
    height: 350px;
  }

}